* {
  box-sizing: border-box;
}

html,
body,
#root {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgray;
  /* background: linear-gradient(0deg, rgba(2,0,36,1) 55%, rgba(200,45,101,1) 65%, rgba(0,84,255,1) 100%); */
}

button {
  background-color: coral;
  color: white;
  border-radius: 10px;
}

body {
  background: white;
}
